# E. Build a database

You will build a database to hold your data. It is up to you to define appropriate tables and well as primary keys for connecting them. (The focus is definitely more on just using the basic methods/tools introduced in the course and not on building a complex database.) In particular, you can follow the following list of steps:

* restrict your data to 1000 entries and 5 columns of your choice
* create a connection to a sqlite3 database
* create one or multiple tables, at least one of the tables should have a PRIMARY KEY
* fill the database with your data
* run at least one query to demonstrate that it works correctly

In [8]:
# import the data that seems to be tab seperated
import pandas as pd
import numpy as np
import seaborn as sns
import sqlite3

In [9]:
pd.set_option('display.max_columns', 200)

In [10]:
# We will work on a subset of the columns
columns_product = [
    'code', 'product_name', 'countries_en', 'serving_size', 'energy_100g', 'nutrition_score_uk_100g'
]

columns_nutrient = ['code', 'product_name', 'proteins_100g', 'fat_100g', 'cholesterol_100g','carbohydrates_100g','sugars_100g' ]

# Load the DataFrame, we will work on the first 1000 rows and limit to 5 columns
#df=pd.read_csv("C:/Users/tgdkujo2/Documents/EPFL_Data_Analytics/2 - APPLIED DATA ANALYSIS/09. Course Project/world-food-facts/en.openfoodfacts.org.products.tsv",  nrows=1000, usecols=columns, sep="\t", low_memory=False)
df=pd.read_csv("C:/Users/tgdkujo2/Documents/EPFL_Data_Analytics/2 - APPLIED DATA ANALYSIS/09. Course Project/world-food-facts/en.openfoodfacts.org.products.tsv",  sep="\t", low_memory=False)

#df.set_index('code', inplace=True)
# rename columns that contain a "-", because they cause a problem in the database
df = df.rename(columns={'nutrition-score-uk_100g': 'nutrition_score_uk_100g'})

**Create an empty Database**

In [11]:
db = sqlite3.connect("my_database.db")

**Create Tables**

In [12]:
query_product= "CREATE TABLE products (code INTEGER PRIMARY KEY, product_name TEXT, countries_en TEXT, serving_size float, energy_100g float, nutrition_score_uk_100g int);"
query_nutrient= "CREATE TABLE nutrient (code INTEGER PRIMARY KEY, product_name TEXT, proteins_100g TEXT, fat_100g float, cholesterol_100g float, carbohydrates_100g float, sugars_100g float);"

In [13]:
# open a Cursor
cursor = db.cursor()

In [14]:
#cursor.execute("DROP TABLE products;")
#cursor.execute("DROP TABLE nutrient;")
db.commit()

In [15]:
cursor.execute(query_product)
cursor.execute(query_nutrient)
db.commit()

In [16]:
# check the tables
cursor.execute("SELECT name FROM sqlite_master where type='table';")
results = cursor.fetchall()
print(results)

[('products',), ('nutrient',)]

**Loading Data from DataFram to Database**

In [17]:
df_sample = df.sample(n=1000)
df_sample[columns_product].to_sql(name='products', con=db, if_exists='replace', index=False)
df_sample[columns_nutrient].to_sql(name='nutrient', con=db, if_exists='replace', index=False)

**Running a Test Query**

In [18]:
def run_query(query):
    return pd.read_sql_query(query, db)

In [19]:
run_query("SELECT * from products limit 10;")

,code,product_name,countries_en,serving_size,energy_100g,nutrition_score_uk_100g
0,26122762,Creamy Aoli,Australia,None,NaN,NaN
1,20186258,Stir fry noodles,Belgium,None,NaN,NaN
2,8712566221059,Soupe Tomate Céleri Ligne,France,None,84.0,1.0
3,3392460482012,"Forme+ (5 Vitamines & 4 Minéraux), Céréale Com...",France,"1 biscotte (8,20 g)",1625.0,7.0
4,3266980931551,None,France,None,NaN,NaN
5,0078742133225,"Grate Value, Almonds, Sea Salt",United States,28 g (1 ONZ),2540.0,8.0
6,20492915,Manzanas Granny Smith,Spain,None,NaN,NaN
7,0073711415548,"Rye Bread With Caraway Seeds, Restaurant Size",United States,38 g (38 g),1100.0,9.0
8,5060424400362,None,United Kingdom,None,NaN,NaN
9,0087688067761,Spiced Bacon Ends & Pieces,United States,14 g (0.5 ONZ),2092.0,26.0

In [20]:
run_query("SELECT count(*) from products;")

   count(*)
0      1000

In [21]:
run_query("SELECT * from nutrient limit 10;")

,code,product_name,proteins_100g,fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g
0,26122762,Creamy Aoli,NaN,NaN,NaN,NaN,NaN
1,20186258,Stir fry noodles,NaN,NaN,NaN,NaN,NaN
2,8712566221059,Soupe Tomate Céleri Ligne,0.70,NaN,NaN,NaN,1.00
3,3392460482012,"Forme+ (5 Vitamines & 4 Minéraux), Céréale Com...",15.00,6.00,NaN,63.00,7.70
4,3266980931551,None,NaN,NaN,NaN,NaN,NaN
5,0078742133225,"Grate Value, Almonds, Sea Salt",21.43,53.57,0.000,17.86,3.57
6,20492915,Manzanas Granny Smith,NaN,NaN,NaN,NaN,NaN
7,0073711415548,"Rye Bread With Caraway Seeds, Restaurant Size",7.89,3.95,0.000,47.37,0.00
8,5060424400362,None,NaN,NaN,NaN,NaN,NaN
9,0087688067761,Spiced Bacon Ends & Pieces,42.86,32.14,0.107,0.00,0.00

In [22]:
run_query("SELECT count(*) from nutrient;")

   count(*)
0      1000

In [23]:
run_query('''select p.product_name, p.nutrition_score_uk_100g, n.proteins_100g, n.fat_100g, n.cholesterol_100g, n.carbohydrates_100g
          from products p inner join nutrient n on p.code=n.code where p.nutrition_score_uk_100g > 0''')

,product_name,nutrition_score_uk_100g,proteins_100g,fat_100g,cholesterol_100g,carbohydrates_100g
0,Soupe Tomate Céleri Ligne,1.0,0.70,NaN,NaN,NaN
1,"Forme+ (5 Vitamines & 4 Minéraux), Céréale Com...",7.0,15.00,6.00,NaN,63.00
2,"Grate Value, Almonds, Sea Salt",8.0,21.43,53.57,0.000,17.86
3,"Rye Bread With Caraway Seeds, Restaurant Size",9.0,7.89,3.95,0.000,47.37
4,Spiced Bacon Ends & Pieces,26.0,42.86,32.14,0.107,0.00
5,Smoked Pork Sausage,20.0,13.79,24.14,0.043,1.72
6,Mediterranean Apricots,8.0,2.70,0.00,0.000,62.16
7,Potatoes With Cheese Sauce Mix.,9.0,7.14,0.00,0.000,78.57
8,Gluten Free Mac & Cheese,5.0,7.93,10.13,0.031,26.87
9,Pain Gris Pur Froment,13.0,8.05,NaN,NaN,NaN
10,Chocolat au lait du pays Alpin (lot de 4),25.0,6.40,29.50,NaN,58.50
11,Nectar gourmand abricot,2.0,0.50,0.50,NaN,11.70
12,"Toaster Pastries, Frosted Fudge",17.0,5.77,9.62,0.000,71.15
13,"Sugar In The Raw, Turbinado Cane Sugar",14.0,0.00,0.00,NaN,100.00
14,"Cure 81, Classic Dinner Ham",12.0,16.67,4.17,0.042,2.38
15,Ciabatta rustica schar sans gluten,13.0,5.80,8.20,NaN,39.60
16,British Shortcrust Pastry Steak Pie,4.0,9.40,14.60,NaN,23.50
17,Dés de fromage de brebis - herbes de Provence,23.0,13.70,25.50,NaN,0.90
18,Frosted Sugar Cookies,23.0,2.63,15.79,0.026,65.79
19,Chewing gum parfum menthol,13.0,0.50,0.00,NaN,76.00
20,Bâtonnets Tendres (28 Bâtonnets),4.0,7.40,4.30,NaN,12.00
21,8 tortillas wraps multi-grains,4.0,8.70,7.00,NaN,52.40
22,Vegecheese,21.0,0.12,23.00,NaN,20.00
23,Dutch Chocolate Milk,4.0,3.33,3.33,0.012,11.67
24,Fad Free Tuna Spicy Chilli,5.0,15.20,5.20,NaN,9.50
25,"Organics, Organic Cooked Pudding & Pie Filling...",17.0,0.00,0.00,0.000,96.00
26,Allumettes Nature,23.0,16.20,25.00,NaN,0.90
27,Potato Gnocchi,1.0,3.45,2.07,0.000,31.72
28,Whole Earth Corn Flakes,3.0,8.00,0.80,NaN,80.00
29,Valflora Soft,16.0,0.50,55.00,NaN,1.00
...,...,...,...,...,...,...
525,"Olympos, Greek Beets",1.0,0.00,0.00,0.000,3.57
526,Walnut Light Pieces,9.0,16.67,66.67,0.000,10.00
527,"Brand, Young Coconut Juice With Jelly",1.0,0.00,0.00,0.000,7.14
528,Dressing And Marinades,5.0,0.00,0.00,0.000,13.33
529,Diced Tomatoes,1.0,0.81,0.41,0.000,5.69
530,Les Dragées Les Classiques au coeur d'Amande,17.0,9.60,20.10,NaN,61.00
531,Pain de mie Nature (24 Tranches),1.0,8.20,3.80,NaN,50.60
532,"The Brigittine Monks, Gourmet Chocolate Fudge ...",21.0,4.76,19.05,0.024,64.29
533,Hotdog,19.0,8.89,20.00,0.067,4.44
534,"Greek Yogurt, Mint & Dark Chocolate",3.0,7.07,6.06,0.020,14.14
535,Sliced Peaches In Heavy Syrup,2.0,0.78,0.00,0.000,17.19
536,"Core, Meal, Hearty Oatmeal To Go, Cashew Cacao",11.0,22.35,24.71,0.024,44.71
537,Perle De Lait,6.0,2.30,NaN,NaN,NaN
538,San Pellegrino Aranciata,2.0,0.00,0.00,NaN,10.00
539,White Sticky Rice,1.0,2.86,0.24,0.000,35.71
540,Club Jambon Beurre,12.0,9.20,11.00,NaN,26.60
541,"P$$T..., Sugar Cookies",19.0,3.57,17.86,0.000,60.71
542,Lait bio,1.0,3.20,NaN,NaN,NaN
543,Kringle,14.0,3.85,13.46,0.010,44.23
544,Graisse de canard,20.0,0.00,100.00,NaN,0.00
545,Doritos Tex-Mex,16.0,7.50,26.40,NaN,58.90
546,Vietnamese Spring Roll,4.0,2.11,0.35,0.000,80.70
547,Pudding Cups,5.0,1.01,2.02,0.000,21.21
548,Façon Charcutière Merguez,20.0,12.00,25.00,NaN,2.90
549,Klädes Holmen Herring,17.0,7.50,NaN,NaN,NaN
550,Chick-O-Stick,21.0,5.88,14.71,0.000,70.59
551,None,3.0,3.50,5.00,NaN,5.00
552,German Cake,20.0,5.36,12.50,0.062,55.36
553,"Ubr, Soft Round Granola Bar, Cinnamon",13.0,8.06,12.90,0.008,70.97
554,Boudins blancs de volaille aux morilles,12.0,9.50,17.00,NaN,4.50

**Randomly selecting 1000 rows from our DataFrame**